body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f8f9f9;
}    
 
h1 {
    font-size: 48;  
}

h2 {
    font-size: 32;	
}

table {
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

.code {
    font-family: monospace;
    background-color: beige;
}

td {
    border-top: 1px solid darkorchid;
}
